@model Stock

<ul>
    <li>Stock Id: @Model.Id </li>
    <li>Stock Brand: @Model.Brand </li>
    <li>Stock Name: @Model.Name</li>
    <li>Cost Price: @Model.CostPrice</li>
    <li>Selling Price: @Model.SellingPrice</li>
    <li>SKU: @Model.SKU</li>
    <li>Stock Quantity: @Model.Quantity</li>
    <li>Stock Variation: @Model.Variation </li>
    <li>Category Id of Stock: @Model.Category_Id </li>
</ul>